@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #fafafc;
  overflow-x: hidden;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.login {
  background-image: url("/woman-laptop-chart-dark.png");
  background-size: 27vw;
  background-position: center;
  background-repeat: no-repeat;
}
.signin1 {
  background-image: url(/smartphone-charts-dar.png);
  background-size: 30vw;
  background-position: 150px;
  background-repeat: no-repeat;
}
